<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @room.title %></h1>
      <p><%= @room.description %></p>
      <a href="<%= @room.image_url %>" target="_blank">¡Obtenlo!</a>
    </div>
  </div>
</div>